@{
    ViewData["Title"] = "AddStudent";
}
@model Student
<h2>AddStudent</h2>

@{
    if (@ViewBag.Message != null)
    {
        <h2 class="alert alert-danger"> <span class="glyphicon glyphicon-thumbs-up"></span>@ViewBag.Message</h2>

    }
}

<form asp-controller="Project" asp-action="AddStudent" method="post">

    <div class="form-group">
        <label for="name"> Name:</label>
        <input type="text" asp-for="Name" class="form-control" id="name">
    </div>

    <div class="form-group">
        <label for="class">Class:</label>
        <input type="text" asp-for="Class" class="form-control" id="Class">
    </div>


    <div class="form-group">
        <label for="Subject">Subject:</label>
        <input type="text" asp-for="Subject" class="form-control" id="Subject">
    </div>

    <div class="form-group">
        <label for="Roll_No">Roll_No:</label>
        <input type="text" asp-for="RollNo" class="form-control" id="RoLL_No">
    </div>

    <div class="form-group">
        <label for="Phone_Num">Phone_Num:</label>
        <input type="text" asp-for="PhoneNum" class="form-control" id="Phone_Num">
    </div>

    <div class="form-group">
        <label for="Father_Name">Father_Name:</label>
        <input type="text" asp-for="FatherName" class="form-control" id="Father_Name">
    </div>

    <div class="form-group">
        <label for="Address">Address:</label>
        <input type="text" asp-for="Address" class="form-control" id="Address">
    </div>

    <div class="form-group">
        <label for="Email">Email:</label>
        <input type="text" asp-for="Email" class="form-control" id="Email">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Add</button>
        <a href="/Project/AllStudents" class="btn btn-warning">All Students</a>
    </div>


</form>
